.hover-underline-animation {
  position: relative;
  display: inline-block;  /* This ensures the element only takes up as much width as the text */
  text-decoration: none;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.hover-underline-animation:hover::after {
  width: 100%;  /* This will now be 100% of the text width since we're using inline-block */
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-pulse {
  animation: blink 1s infinite;
}